<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.demo.app.androidsdkdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_mini"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="TencentMapSDK"
            android:value="LMGBZ-L7LW4-GS7UR-DAFPN-7RZSV-VNFE4" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="0ddabe4cec0ffe6c0d36286621755314" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.amap.api.location.APSService"></service>
        <activity-alias
            android:name=".GrowingIOCircleActivity"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <data android:scheme="@string/growingio_url_scheme" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ListActivity"
            android:label="列表页示例" />
        <activity
            android:name=".SystemWebActivity"
            android:hardwareAccelerated="true"
            android:label="系统WebView示例" />
        <activity
            android:name=".X5WebViewActivity"
            android:label="X5WebView示例" />
        <activity
            android:name=".ViewPagerFragmentActivity"
            android:label="ViewPager切换Fragment" />
        <activity
            android:name=".TabLayoutFragmentActivity"
            android:label="TabLayout切换ViewPager" />
        <activity
            android:name=".TabActivity"
            android:label="Replace切换方式" />
        <activity
            android:name=".Tab2Activity"
            android:label="Show|Hide切换方式" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="yjwQXMmzLRNXuV6VTHhQisndNlAaGeqo" />

        <activity android:name=".ListActivity2"></activity>
    </application>

</manifest>